{% load static %}
<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Online Shop{% endblock %}</title>
    

    <!-- Liên kết tới các tài nguyên CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/styles/style.css' %}?v=2">
    <link rel="stylesheet" type="text/css" href="{% static 'app/styles/main.css' %}?v=8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Thêm các tài nguyên khác nếu cần -->
    {% block extra_head %}{% endblock %}
</head>

<body>
      <!-- Thanh điều hướng -->
      <div class="container-fluid">
        <nav class="container navbar navbar-expand-lg bg">
            <div class="container-fluid">
            <a class="navbar-brand" href="/">Online Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form method="get" action="{% url 'search' %}"  class="d-flex" role="search">
                        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search" >
                        <button  class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <h5> Chào {{user.username}}!</h5>
                        </li>
                        <li class="nav-item" >
                            <button data-quantity="0" class="btn-cart" onclick="redirect('{% url 'cart_views' user.pk %}')">
                                <svg class="icon-cart" viewBox="0 0 24.38 30.52" height="30.52" width="24.38" xmlns="http://www.w3.org/2000/svg">
                                <title>icon-cart</title>
                                <path transform="translate(-3.62 -0.85)" d="M28,27.3,26.24,7.51a.75.75,0,0,0-.76-.69h-3.7a6,6,0,0,0-12,0H6.13a.76.76,0,0,0-.76.69L3.62,27.3v.07a4.29,4.29,0,0,0,4.52,4H23.48a4.29,4.29,0,0,0,4.52-4ZM15.81,2.37a4.47,4.47,0,0,1,4.46,4.45H11.35a4.47,4.47,0,0,1,4.46-4.45Zm7.67,27.48H8.13a2.79,2.79,0,0,1-3-2.45L6.83,8.34h3V11a.76.76,0,0,0,1.52,0V8.34h8.92V11a.76.76,0,0,0,1.52,0V8.34h3L26.48,27.4a2.79,2.79,0,0,1-3,2.44Zm0,0"></path>
                                </svg>
                                <span class="quantity"></span>
                            </button> 
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'conversations' %}">Message</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_product' %}">Create Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'edit_account' %}">Edit Account</a>
                        </li>
                        <li class="nav-item">
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="btn btn-link nav-link" type="submit">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login/">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register/">Register</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Nội dung chính -->

    <div class="container">
        {% block content %}
        <br>   
        <div class="product-list">    
            {% for result in results %}
                <div class="product-item">
                        <a href="{% url 'product_detail' result.pk %}"> {{ result.name }}
                    {% if result.image %}
                        <br><img src="{{ result.image.url }}" width="150" alt="{{ result.name }}"></a> 
                    {% endif %}
                        <br><p>Quantity: {{ result.quantity }} <br> Price: ${{ result.price }}</p>
                </div>
            {% empty %}
                No results found.
            {% endfor %}
        {% endblock %}
        </div>
    </div>

    <!-- Chân trang -->
    <footer class="bg-light text-center text-lg-start mt-4">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            ©  Online Shop. All rights reserved.
        </div>
    </footer>


   
    <!-- Liên kết tới các tài nguyên JavaScript -->
    <script src="{% static 'app/js/script.js' %}"defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    {% block extra_js %}<!-- Chứa các đoạn mã Ja--> {% endblock %}
    <style>
        a {
          text-decoration: none;
        }
    </style>
</body>
</html>
